/* Selectores */
/* Selector de Elemento */
h1 {
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
}
/* Selector de clase */
.titulo {
    color: red;
    font-size: 30px;
    background-color: aqua;       
} 
/* Selector de ID*/
#titulo_huawei {
    color: yellow;
}

#div_temas {
    display: none !important;
}