* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background-color: hsl(30, 38%, 92%);*/
    background-color: blue;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    flex-direction: column;

}

.left-img {
    background: url(../images/image-product-desktop.jpg);
    height:400px;
    width: 300px;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-size: cover;
    background-position: 50% 0%;
 
}

.content {
    height: 450px;
    width: 300px;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;

    border-radius: 0px;
}

.button-container {
    justify-content: center;
    display: flex;
    margin-right: 25px;
}

.subtitle {
    font-family:"Montserrat", sans-serif;
    color: hsl(212, 21%, 14%);
    font-size: 12.5px;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 10px;
}

.title{
    color:hsl(212, 21%, 14%);
    font-family: "Fraunces", sans-serif;
    padding: 10px;
    font-weight: 700;
    line-height: 34px;
}

.text-content{
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: hsl(228, 12%, 48%);
    padding: 8px;
    font-weight: 500;
    line-height: 22px
}

.content-size {
    display: flex;
    align-items: center;
}

.content-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
    margin-bottom: 15px;
}

.real-price {
    text-decoration: line-through;
    margin-right: 60px;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 13px;
   
}
.offer-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    margin-right: 10px;
}
button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 8px;
    width: 260px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    margin-top: 10px;
}

.button-purchase{
    background-color: orange;
    border: none;
    display: none;
}
.button:hover{
    cursor: pointer;
}



@media (min-width:600px) {
    body {
        background-color: hsl(30,38%,92%);
    }

}
@media (min-width:600px) {
    
    .container {
        flex-direction: row;
    }
    .left-image {
        background-size: cover;
        background-position: 50% 0%;
        height: 400px;
        width: 200px;
        background-color: #fff;
        /*border-radius: 0px;*/
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      
      .content {
        height: 400px;
        width: 300px;
        background-color: #fff;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 10px;
      }
      button {
        margin-top: 8px;
        margin-left: 15px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 30px;
      }
      .button-purchase {
        background-color: orange;

        border: none;
      }
      .content-price {
        margin-bottom: 8px;
      }
}

@media (min-width:900px) {
    
    .container {
        flex-direction: row;
    }
    .left-image {
        background-size: cover;
        background-position: 50% 25%;
        height: 400px;
        width: 400px;
        background-color: #fff;
        border-radius: 0px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      
      .content {
        height: 400px;
        width: 400px;
        background-color: #fff;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 20px;
      }
      button {
        margin: 10px;
        margin-left: 15px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 330px;
        height: 40px;
        
      }
    
      .content-price {
        margin-top: 10px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
      
      .offert-price {
        font-size: 30px;
        font-weight: 800;
      }
      
      .real-price {
        margin-left: 10px;
        font-size: 13px;
      }

      .button-purchase {
        background-color: orange;
        display: block;
        border: none;
      }
}
@media (min-width:900px) {
    body {
        background-color:red;
    }
}
