* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.theme-blue {
    /* Esto contiene un valor pero en este caso es un color */
  --color-primary: hsl(222, 26%, 31%);
  --secondary-color: hsl(223, 31%, 20%);
  --extra-color: hsl(224, 36%, 15%);
  --bg-number-buttons: hsl(28, 16%, 65%);
  --bg-text-buttons: hsl(221, 14%, 31%);
  --text-big-color: white;
}

.theme-white {
    --color-primary: rgb(241, 241, 241);
    --secondary-color: hsl(223, 31%, 20%);
    --extra-color: hsl(224, 36%, 15%);
    --bg-number-buttons: hsl(28, 16%, 65%);
    --bg-text-buttons: hsl(221, 88%, 37%);
    --text-big-color: rgb(72, 74, 233);
}

.theme-purple {
    --color-primary: rgb(70, 0, 128);
    --secondary-color: hsl(223, 31%, 20%);
    --extra-color: hsl(224, 36%, 15%);
    --bg-number-buttons: hsl(28, 16%, 65%);
    --bg-text-buttons: hsl(221, 14%, 31%);
    --text-big-color: #fff;
}


body {
    background-color: var(--color-primary);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
}

section {
    width: 600px;
    /*border: solid white;*/
}

.section-title-theme {
    display: flex;
    justify-content: space-between;
}

.text-white {
    color: var(--text-big-color);
}

.section-theme {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-inputs {
    background-color: var(--secondary-color);
    padding: 2px;
    border-radius: 20px;
  }

  input[type="radio"]:after {
    content: "";
    border: 2px solid var(--secondary-color);
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 50%;
    display: inline-block;
    visibility: visible;
  }
  
  input[type="radio"]:checked:after {
    content: "";
    border: 2px solid var(--secondary-color);
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    background-color: hsl(6, 63%, 50%);
    position: relative;
    border-radius: 50%;
    display: inline-block;
    visibility: visible;
  }

  .section-result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    height: 100px;
  }

  .section-result h1 {
    font-size: 3.2em;
    margin-top: 10px;
    color: var(--text-big-color);
    text-align: right;
  }